<h1>Pages#page1</h1>
<p>Find me in app/views/pages/page1.html.erb</p>

<div id="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ktvTqknDobU" frameborder="0" allowfullscreen></iframe>
</div>
